h3{
    text-align: center;
}
input[type=text],
select
{

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px ;
    box-sizing: border-box;


}

input[ type=submit]{

    width: 100%;
    background-color: #1db422;
    color: white;
    margin: 8px 0;
    padding: 13px 19px;
    border-radius: 5px;
    cursor: pointer;
}


input[ type=submit]:hover{

    background-color: #1f4221;
}

.form_bloc{
    padding: 20px;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-left: 20%;
    margin-right: 20%;

}

.anacade_cafe{
    border-collapse: collapse;
    width: 100%;
}

.anacade_cafe td,
.anacade_cafe th{
    border: 1px solid gray;
    padding: 8px;
}

.anacade_cafe th{
   background: #4cAf50;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    
}

.anacade_cafe tr:nth-child(even){
    background-color:#f2f2f2 ;
}

.anacade_cafe tr{
    text-align: center;
}

.anacade_cafe tr:hover{
    background: #ddd;
}

.border{
    border: solid rgb(118, 187, 138) 15px ;

}

li {

    list-style: none;
    
    text-align: center;
}

