header{
    color: white;
    background-color: #2c3e50;
   display: inline-flex;
    width: 120%;
  
}
.vide{
    background-color: mediumspringgreen;
    width: 100% ;
}
.port{
    text-align: center;
    margin-left: 45%;
    margin-bottom: 2%;
}



.prest li
{ 
    display: inline-flex;
    list-style: none;
    margin-left: 100px;

}

h2{
    padding: 1rem;
    margin-left: -5;
    margin-top: -1px;


}


img{width: 200px;
    height: 200px;
margin-left:50px ;
margin-top: 50px;
border-radius: 75px ;




    
}



div{
    display: inline-flex;
    padding-right: 50px;
    margin-left: 0px;
    padding-bottom: 50px;
    padding-left: -10px;

    
  
}

section{
    margin-top: -5%;
}


.pot1 {
    border: solid brown 1px;
    background-color: brown;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 90px;
    
}
.image1{
    background-color: rgb(108, 190, 25);
    border: solid white 1px;
 
   
}

.pot2{
    border: solid   1px;
    background-color:  rgb(19, 163, 149);
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 90px;
    
    
}
.pot3{
    border: solid black 1px;
    background-color: black;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 90Px;
    
    
    
   
}

footer{ background-color: #2c3e50;
    width: 100%;
margin-top:1% ;
color: white;
padding-bottom: -100px;

    
}
ul{
    list-style: none;
    
}
.socio{
    margin-left: -55%;
    margin-top: 21%;
    display:  flex;
    
}

a{
    color: white;
}

.numero{
    margin-left: -55%;
    margin-top: 21%;



}
.ppac{
    margin-left: -55%;
    margin-top: 21%;

}

.pass1{ 
    margin-left: 130px;
}
.pass2{
    margin-left: 50px;
}
.pass3{
    margin-left:-0Px;
}

  .fb {
    border: solid 1px white;
    border-radius: 75px;
    padding: 10Px 10px;
    
    

}

.in{
    
    border: solid 1px white;
    border-radius: 75px;
    margin-left: 5px;
    padding: 10Px 10px;
}
.tw{
    
    border: solid 1px white;
    border-radius: 75px;
    margin-left: 5px;
    padding: 10Px 10px;

}
.wh{
   
    border: solid 1px white;
    border-radius: 75px;
    margin-left: 5px;
    padding: 10Px 10px;
}

.fb:hover{
    color:white;
    background-color: blue;

}
.tw:hover{
    color:white;
    background-color: blue;
}
.wh:hover{
    color:white;
    background-color: rgb(22, 206, 62);
}
.in:hover{
    color:black;
    background-color: white;
}
