body{
    width: 100%;
}
header{
    color: white;
    background-color: #2c3e50;
   display: inline-flex;
    width:100%;
  
}
h2{
    padding: 1rem;
    margin-left: -5;
    margin-top: -1px;


}
.prest li
{ 
    display: inline-flex;
    list-style: none;
    margin-left: 120px;

}

/*section du dizaille*/
.vide{
    background:rgb(106, 233, 95) ;
    width:96.4% ;
    
}

.port{
    text-align: center;
    margin-left: 45%;
    
}
.etoile{
    margin-left: -95px;
    font-size: 2em;
    padding-top: -3%;
}


/*section des images*/
.sect{
    margin-top: -5%;
}

.pot1 img{
    width: 200px;
    height: 200px;
margin-left:50px ;
margin-top: 50px;
border-radius: 75px ;

}
.pot2 img{
    width: 200px;
    height: 200px;
margin-left:50px ;
margin-top: 50px;
border-radius: 75px ;

}
.pot3 img{
    width: 200px;
    height: 200px;
margin-left:50px ;
margin-top: 50px;
border-radius: 75px ;

}




div{
    display: inline-flex;
    padding-right: 50px;
    margin-left: 0px;
    padding-bottom: 50px;
    padding-left: -10px;

    
  
}

/*section des carte*/
.carte{
    border:  1px solid solid;
    border-radius: .6rem;
    box-shadow: 0 0 0.9rem rgb(0,0,0);
}
.carte img{
    width: 100%;
    transform: scale(.9); /* agrandir ou diminuer*/
    max-height: 15rem; /*pour que les images aient la meme hauteur*/

}
.carte img:hover{
    transform: scale(.8);
    transition: 200ms ease-out;
    filter: grayscale(1);

    
}
.carte h4,p{
    text-align: center;

}
.grande-carte{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(35ch, 1fr)); /*reduction de l'ecran au niveau des cartes*/
    grid-gap: 1.7rem;
    margin-top: 2rem;
}




.pot1 {
    border: solid brown 1px;
    background-color: brown;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 90px;
    
}
.image1{
    background-color: rgb(108, 190, 25);
    border: solid white 1px;
 
   
}

.pot2{
    border: solid   1px;
    background-color:  rgb(19, 163, 149);
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 90px;
    
    
}
.pot3{
    border: solid black 1px;
    background-color: black;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 90Px;
    
    
    
   
}

/*section du footer*/

footer{ background-color: #2c3e50;
    width:120;
margin-top:1% ;
color: white;
padding-bottom: -100px;

    
}
ul{
    list-style: none;
    
}
.socio{
    margin-left: -55%;
    margin-top: 21%;
    display:  flex;
    
}

a{
    color: white;
}

.numero{
    margin-left: -55%;
    margin-top: 21%;



}
.ppac{
    margin-left: -55%;
    margin-top: 21%;

}

.pass1{ 
    margin-left: 130px;
}
.pass2{
    margin-left: 50px;
}
.pass3{
    margin-left:-0Px;
}

  .fb {
    border: solid 1px white;
    border-radius: 80px;
    padding: 10Px 10px;
    
    

}

.in{
    
    border: solid 1px white;
    border-radius: 75px;
    margin-left: 5px;
    padding: 10Px 10px;
}
.tw{
    
    border: solid 1px white;
    border-radius: 75px;
    margin-left: 5px;
    padding: 10Px 10px;

}
.wh{
   
    border: solid 1px white;
    border-radius: 75px;
    margin-left: 5px;
    padding: 10Px 10px;
}

.fb:hover{
    color:white;
    background-color: blue;

}
.tw:hover{
    color:white;
    background-color: blue;
}
.wh:hover{
    color:white;
    background-color: rgb(22, 206, 62);
}
.in:hover{
    color:black;
    background-color: white;
    
}